<h1>Create account: GOOGLE</h1>

<p class="error" id="error"></p>

<fieldset>
  <legend>
    <a id="link-to-google" href="">Please click this link to be authenticated by Google.</a>
  </legend>
</fieldset>

<ul class="actions">
  <li><button type="button" id="account-link">Back</button></li>
</ul>

<script>
  (async() => {
    let res = await fetch('<%= idpIndex %>', { headers: { accept: 'application/json' } });

    const { controls } = await res.json();
    setRedirectClick('account-link', controls.html.account.account);

    const queryStr = window.location.search.slice(1);
    const queries = {};
    if (queryStr) {
      queryStr.split('&').forEach((kv)=>{
        const [k,v] = kv.split('=');
        queries[k] = v;
      });
    }
    if (queries['scope']) {
      // クエリ文字列にscopeがあったらoidc-google.html.ejsからリダイレクトされて来た時と見なす
      document.querySelector('#link-to-google').style.display = "none";
      try {
        const res = await postJson(controls.google.create,{ url: window.location.href });
        const json = await res.json();
        if (json.resource) {
console.log("GAHA3: Created!");
          window.location.href = controls.html.account.account;
        } else {
console.log("GAHA4: Not created!");
          document.querySelector('#error').textContent = json.message;
        }
      } catch(err) {
console.log("GAHA5: ",err);
        document.querySelector('#error').textContent = "Error:";
      }
    } else {
      // それ以外は、ログイン前の状態と見なす
      const res = await postJson(controls.google.oidc,{func:'makeUrl',stage:'create'});
      const { response } = await res.json();
      document.querySelector('#link-to-google').setAttribute('href',response);
    }
  })();
</script>
