<h1>Log in: GOOGLE</h1>

<p class="error" id="error"></p>

<fieldset>
  <legend>
    <a id="link-to-google" href="">Please click the link below to be authenticated by Google.</a>
  </legend>
</fieldset>

<p class="actions">
  <button class="hidden" type="button" id="cancel">Cancel</button>
</p>

<ul class="actions">
  <li><a id="register-link" href="" class="link">Sign up</a></li>
</ul>

<script>
  (async() => {
    let controls = await fetchControls('<%= idpIndex %>');

    // Only show the cancel button if there is an OIDC interaction
    setVisibility('cancel', <%= authenticating %>);
    getElements('cancel').cancel.addEventListener('click', async() => {
      const res = await fetch(controls.oidc.cancel, { method: 'POST' });
      location.href = (await res.json()).location;
    });

    updateElement('register-link', controls.html.google.register, { href: true });

    const queryStr = window.location.search.slice(1);
    const queries = {};
    if (queryStr) {
      queryStr.split('&').forEach((kv)=>{
        const [k,v] = kv.split('=');
        queries[k] = v;
      });
    }
    console.log("GAHA: queries=",queries);
    if (queries['scope']) {
      // クエリ文字列にscopeがあったらcallbackで帰ってきた時と見なす
      const res = await postJson(controls.google.login,{ url: window.location.href });
      const json = await res.json();
console.log("GAHA: json=",json);
      //location.href = controls.html.account.account;
    } else {
      // それ以外は、ログイン前の状態と見なす
      const res = await fetch(controls.google.login);
      const json = await res.json();
console.log("GAHA: json=",json);
      const goToUrl = json.goToUrl;
console.log("GAHA: goToUrl=",goToUrl);
      document.querySelector('#link-to-google').setAttribute('href',goToUrl);
    }
  })();
</script>
