<h1>Log in: GOOGLE</h1>

<p class="error" id="error"></p>

<fieldset>
  <legend>
    <a id="link-to-google" href="">Please click this link to be authenticated by Google.</a>
  </legend>
</fieldset>

<p class="actions">
  <button class="hidden" type="button" id="cancel">Cancel</button>
</p>

<ul class="actions">
  <li><a id="google-login-link" href="" class="link">restart google login</a></li>
</ul>

<script>
  (async() => {
    let controls = await fetchControls('<%= idpIndex %>');

    document.querySelector('#google-login-link').setAttribute('href',controls.html.google.login);
    // Only show the cancel button if there is an OIDC interaction
    setVisibility('cancel', <%= authenticating %>);
    getElements('cancel').cancel.addEventListener('click', async() => {
      const res = await fetch(controls.oidc.cancel, { method: 'POST' });
      location.href = (await res.json()).location;
    });

    const queryStr = window.location.search.slice(1);
    const queries = {};
    if (queryStr) {
      queryStr.split('&').forEach((kv)=>{
        const [k,v] = kv.split('=');
        queries[k] = v;
      });
    }
    if (queries['scope']) {
      // クエリ文字列にscopeがあったらoidc-google.html.ejsからリダイレクトされて来た時と見なす
      document.querySelector('#link-to-google').style.display = "none";
      try {
        const res = await postJson(controls.google.login,{ url: window.location.href });
        const json = await res.json();
console.log("GAHA2: json=",json);
        if (json.authorization) {
          controls = await fetchControls('<%= idpIndex %>');
console.log("GAHA3: Logged in! a=",controls.html.account.account);
          window.location.href = controls.html.account.account;
        } else {
console.log("GAHA4: Not logged in!");
          document.querySelector('#error').textContent = json.message;
        }
      } catch(err) {
console.log("GAHA5: ",err);
        document.querySelector('#error').textContent = "Error:";
      }
    } else {
      // それ以外は、ログイン前の状態と見なす
      document.querySelector('#google-login-link').style.display = "none";
      const res = await postJson(controls.google.oidc,{func:'makeUrl',stage:'login'});
      const { response } = await res.json();
      document.querySelector('#link-to-google').setAttribute('href',response);
    }
  })();
</script>
