<h1>Google Log in</h1>

<p class="error" id="error"></p>

<p>To log in using your Google account, please press the "GOOGLE" button below.</p>

<button id="google-button">GOOGLE</button>

<p class="actions">
  <button class="hidden" type="button" id="cancel">Cancel</button>
</p>

<ul class="actions">
  <li><a id="google-login-link" href="" class="link">restart google login</a></li>
</ul>

<script>
  (async() => {
    let controls = await fetchControls('<%= idpIndex %>');

    document.querySelector('#google-login-link').setAttribute('href',controls.html.google.login);
    // Only show the cancel button if there is an OIDC interaction
    setVisibility('cancel', <%= authenticating %>);
    getElements('cancel').cancel.addEventListener('click', async() => {
      const res = await fetch(controls.oidc.cancel, { method: 'POST' });
      location.href = (await res.json()).location;
    });

    const queryStr = window.location.search.slice(1);
    const queries = {};
    if (queryStr) {
      queryStr.split('&').forEach((kv)=>{
        const [k,v] = kv.split('=');
        queries[k] = v;
      });
    }
    if (queries['scope']) {
      // クエリ文字列にscopeがあったらoidc-google.html.ejsからリダイレクトされて来た時と見なす
      document.querySelector('#google-button').style.display = "none";
      try {
        const res = await postJson(controls.google.login,{ url: window.location.href });
        const json = await res.json();
        if (json.authorization) {
          controls = await fetchControls('<%= idpIndex %>');
          if (<%= authenticating %>) { // if there is an OIDC interaction
            ////const theUrl = controls.oidc.prompt; // 次の処理を自動で判別
            //const theUrl = controls.oidc.consent; // OIDCインタラクションの終了?
            //const res2 = await fetch(theUrl,{method: 'POST'});
            //const json2 = await res2.json();
            //window.location.href = json2.location;
            window.location.href = '/.account/oidc/consent/' // 本当は上の方法でやりたいんだけど、うまくいかない。
          } else {
            window.location.href = controls.html.account.account;
          }
        } else {
          document.querySelector('#error').textContent = json.message;
        }
      } catch(err) {
        document.querySelector('#error').textContent = "Error:";
      }
    } else {
      // それ以外は、ログイン前の状態と見なす
      document.querySelector('#google-login-link').style.display = "none";
      const res = await postJson(controls.google.oidc,{func:'makeUrl',stage:'login'});
      const { response } = await res.json();
      document.querySelector('#google-button').addEventListener('click',(e)=>{
        window.location.href = response;
      });
    }
  })();
</script>
