<h1>GOOGLE OIDC Callback</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <legend>This page is accessed by Google OIDC callback.</legend>
  </fieldset>

  <ul class="actions">
    <li><button type="button" id="account-link">Back</button></li>
  </ul>
</form>


<script>
  (async() => {
    let res = await fetch('<%= idpIndex %>', { headers: { accept: 'application/json' } });

    const { controls } = await res.json();
console.log("GAHA0: controls=",controls);
    if (controls.html.account?.accout)
      setRedirectClick('account-link', controls.html.account.account);
    else
      setRedirectClick('account-link', controls.html.main.login);

    const queryStr = window.location.search.slice(1);
    const queries = {};
    if (queryStr) {
      queryStr.split('&').forEach((kv)=>{
        const [k,v] = kv.split('=');
        queries[k] = v;
      });
    }
console.log("GAHA1: queries=",queries);
    if (queries['scope']) {
      // クエリ文字列にscopeがあったらcallbackで帰ってきた時と見なす
      const res = await postJson(controls.google.oidc,{ func: 'getStage', stage: 'dummy' });
      const { response } = await res.json();
console.log("GAHA2: response=",response);
      if (response === 'login') {
console.log("GAHA3: redirect=",(controls.html.google.login + window.location.search));
        window.location.href = controls.html.google.login + window.location.search;
      } else if (response === 'create' ) {
console.log("GAHA4: redirect=",(controls.html.google.create + window.location.search));
        window.location.href = controls.html.google.create + window.location.search;
      } else if (response === 'register') {
console.log("GAHA5: redirect=",(controls.html.google.register + window.location.search));
        window.location.href = controls.html.google.register + window.location.search;
      } else if (response === 'sub') {
console.log("GAHA5: redirect=",(controls.html.google.sub + window.location.search));
        window.location.href = controls.html.google.sub + window.location.search;
      } else {
        document.querySelector('#error').textContent = "Error: you are in strange stage:"+response;
      }
    } else {
      // callbackでGoogleから帰ってきた状態ではない
      document.querySelector('#error').textContent = "This page must not accessed ";

      document.querySelector('#link-to-google').setAttribute('href',goToUrl);
    }
  })();
</script>
